<nav class="navbar navbar-expand-lg navbar-dark navbar fixed-top px-4 py-2">
      <a class="navbar-brand" [routerLink]="['/home']">COVID NINETEEN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/home']">HOME <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/courses']">COURSES <span class="sr-only">(current)</span></a>
            </li>
          </ul>
      </div>
</nav>
<div class="container-fluid mt-3 py-1"></div>